
* { margin: 0; padding: 0; }

.topnav a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}

body:before {
    content: "";
    position: fixed;
    top: -0.625em;
    left: 0;
    width: 100%;
    height: 0.625em;
    -webkit-box-shadow: 0px 0px 1.250em rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 1.250em rgba(0,0,0,.8);
    box-shadow: 0px 0px 1.250em rgba(0,0,0,.8);
    z-index: 100;
}

/*@media all and (min-width:1366px){ */
    /************************Max 1900px yli medium-largen *********************/
/*
    body{
        font: 1em Georgia, serif;
        font-size:110%;
    }
    .topnav{
        height: 12.5em;
        position: relative;
        top: 3.125em;
        margin: 0 auto;
        min-width:75em;
    }
    .topnav img{
        position: relative;
        float: left;
        width: 25em; 
        height: 6.25em;
        margin-left: 12%;
        top: 1.875em;
    }
    .topnav ul{
        float: right;
        margin-top: 5em;
        margin-right: 2.5em;
        width: 38.5em;
    }
    .topnav li {
        list-style-type: none;
        float: left;
        margin: 0px 0.625em;
        width: 5.2em;
        padding: 0.6em;	
        font-size: 1.25em;
    }
    #path{
        position: relative;
        height: 3.125em;
        width:100%;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
    }
    #path p{
        padding: 0.938em;
        margin-left:9%;
        color:white;
    }
    #path a{
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
    #bigpicture {
        position:relative;
        width:100%;
        height:31.25em;
        overflow:hidden;
        background-image: url('mustavuori.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center
    }
    #darkarea{
        position:absolute;
        height:100%;
        width: 31.25em;
        right:8.125em;
        background: linear-gradient(to bottom, hsla(0,0%,10%,0.5) 50%,hsla(0,0%,0%,0.9));
    }
    #darkarea p{
        padding:1.25em;
        font-size:1.25em;
        color:white;
        margin-top:1.25em;
    }

    article {
        width: 40em;
        margin: 2em auto 0 auto;
        font-size: 1.250em;
        padding: 2.000em;
        color:#0B0B3B;
        text-align: center;
        line-height: 180%;
    }
    article h4{
        color: #0B263B;
    }
    #map-canvas {
        width: 27em;
        height: 20.000em;
        float:left;
        margin: 0 auto 0 3em;
    }
    footer {
        clear:both;
        overflow:hidden;
        font-size: 1.25em;
        line-height: 1.3;
        height: 34.375em;
        min-width: 55em;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
        padding: 3em;
        vertical-align:top;
        color:white;
    }	
    #centerfooter{
        margin:auto;
        width:65em;
    }
    footer #left{
        float:left;
        padding:0.625em;
        margin-left:10%;
    }
    footer #right{
        margin-top: 1.25em;
    }

    footer ul {
        float:left;
        width: 30em;
        margin: 0 0 4em 4em;
    }
    footer li {
        float:left;
        width: 15em;
        list-style-type: none;
    }
    #yhtotto input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        color: #00000;
        background-color: #C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #yhtotto textarea {
        resize:none;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        overflow-y: scroll;
        color: #00000;
        background-color:#C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #maestroinfopic{
        margin-left: -14%;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 25em;
        width: 54em;
    }
    #mobile{
        right:10em;
    }
    #mobiletext{
        bottom:10em;
    }
    #maestroinfo {
        width: 40em;
        margin: 2em auto 0 auto;
        font-size: 1.0em;
        padding: 1.0em;
        color:#0B0B3B;
        text-align: left;
        line-height: 180%;
        list-style-position: inside;
    }
} *//***************************END OF LARGE ************************************/

/*@media all and (max-width:1365px) and (min-width:1025px){ */
    /***********************MEDIUM LARGE =1365px juuri sopiva *******************/

    body{
        font: 1em Arial, Helvetica, sans-serif;
        font-size: 1em;
        width:auto;
    }
    /*
    .topnav{
        height: 8.0em;
        position: relative;
        top: 0em;
        margin: auto;
        width:auto;
    }
    .topnav img{
        position: relative;
        float: left;
        max-width: 23em; 
        height: auto;
        margin-left: 3%;
        top: 1.875em;
    }
    */
    .topnav ul{
        float: right;
        /*margin-top: 2em;
        margin-right: 2.1em; */
        width: auto;
    }
    .topnav li {
        list-style-type: none;
        float: left;
        margin: 0px 0.625em;
        width: 10em;
        padding: 0.5em;	
        font-size: 1.25em;
    }

    #path{
        position: relative;
        height: 3em;
        min-width: 70em;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
    }
    #path p{
        padding: 0.938em;
        margin-left:9%;
        color:white;
        float:left;
    }
    #path a{
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
/*
    #bigpicture {
        position:relative;
        width:100%;
        height:31.25em;
        overflow:hidden;
        background-image: url('mustavuori.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center
    }
    #darkarea{
        position:absolute;
        height:100%;
        width: 31.25em;
        right:8.125em;
        background: linear-gradient(to bottom, hsla(0,0%,10%,0.5) 50%,hsla(0,0%,0%,0.9));

    }
    #darkarea p{
        padding:1.25em;
        font-size:1.25em;
        color:white;
        margin-top:1.25em;
    }*/

    article {
        margin: 0 auto 0 auto;
        font-size: 1em;
        padding: 0 0.5em;
        color:#0B0B3B;
        text-align: left;
        clear:both;
    }
    article h4{
        color: #0B263B;
    }

    .show{
        
    }

    .ok, .cancel{
        display: none;
    }

    .pen {
        width:13px;
        height: 13px;
    }

    #vaihdakuukausi input {
        font-size: 1.1em;
        padding: 0.2em;
    }
    #vaihdakuukausi input[type=checkbox] {
        margin-right: 0.8em;
        margin-left: 0.2em;
    }
    .vasemmalle{
        /* Pudotusvalikko ja laatikot vasemmalle */
        float:left;
        height: 6em;
    }
    .kuukausiotsikot{
        /* seurantakuukausi oikealle */
        font-size: 1.5em;
        float: right;
    }
    table.kuukausiseuranta{
        border-spacing: 0;
        width: 100%;
        /* border-left: 0.2em solid #0B0B3B; */
    }

    .container{
        /* alue johon absolute div sijoitetaan */
        position: relative;
        background-color: #500;
        padding-top: 2em;
        padding-bottom: 2em;
        clear:both;
        height: 43.3em;
        min-width: 90em;
    }
    .pohjainfo{
        color: white;
        padding: 0.2em 2em;
    }

    .tablecontainer {
        /* rullaava alue */
        overflow-y: auto;
        height: 100%;
        border: 0.1em solid #500;
    }

    .seurantaheaders{
        /* Piilottaa "oikean rivin" korkeudella, mutta pitää leveyden */
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: transparent;
        border: none;
        white-space: nowrap;
    }

    .seurantaheaders div{
        /* divin voi asettaa absoluuttisesti */
        position: absolute;
        background: transparent;
        color: #fff;
        padding: 9px 25px;
        top: 0;
        margin-left: -20px;
        line-height: normal;
        /*border-left: 1px solid #800; */
    }

    table.kuukausiseuranta td{
        padding: 0.2em;
        border-bottom: 0.1em solid #0B0B3B;
        border-right: 0.1em solid #0B0B3B;
    }
    table.kuukausiseuranta tr:nth-child(even){
        background-color: #F0F0F0;
    }
    table.kuukausiseuranta tr:nth-child(odd){
        background-color: #D0D0D0;
    }
    table.kuukausiseuranta p {
        float:left;
    }
    table.kuukausiseuranta button {
        float:right;
    }

    .rekisteriotsikot h4{
        font-size: 1.5em;
    }
    table.asiakasrekisteri{
        width: 100%;
        border: 0.2em solid #0B0B3B;
    }
    table.asiakasrekisteri th{
        padding: 0.2em;
        border: 0.1em solid #0B0B3B;
    }
    table.asiakasrekisteri td{
        padding: 0.2em;
        border: 0.1em solid #0B0B3B;
    }

    table.asiakasrekisteri tr:nth-child(even){
        background-color: #F0F0F0;
    }
    table.asiakasrekisteri tr:nth-child(odd){
        background-color: #D0D0D0;
    }
    table.asiakasrekisteri p {
        float:left;
    }
    table.asiakasrekisteri button {
        float:right;
    }

    table#luokuukausi{
        text-align: center;
        border: 0.2em solid #0B0B3B;
    }
    table#luokuukausi td{
        font-size: 1.5em;
        padding: 0.8em;
    }
    table#luokuukausi input[type=submit]{
        font-size: 1.1em;
        padding: 0.2em;
    }
    .GUI_form input[type=submit]{
        font-size: 1.2em;
        padding: 0.4em;
    }  
    select{
        margin: 0.3em 0 0.3em 0;
        font-size: 1.2em;
    }
    .GUI_form input{
        font-size: 1.2em;
    }
    .GUI_form p{
        font-size: 1.2em;
        padding-top: 0.4em;
    }
    .GUI_form input[type=checkbox]{
        margin: 0.5em;
    }

/*
    .floatingHeader {
        position: fixed;
        top:0em;
        visibility: hidden;
    }
*/
/*
    footer {
        clear:both;
        overflow:hidden;
        font-size: 1.25em;
        line-height: 1.3;
        height: 34.375em;
        width:auto;
        //min-width: 55em;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
        padding: 1em;
        vertical-align:top;
        color:white;
        text-align: left;
    }
    #centerfooter{
        margin:auto;
        width:auto;
    }
    footer #left{
        float: left;
        padding: 0.625em;
    }
    footer #right{
        margin-top: 1.25em;
    }
    footer ul {
        float:left;
        width: 25em;
        margin: 0 0 4em 3em;
    }
    footer li {
        float:left;
        width: 12.500em;
        list-style-type: none;
    }
    #yhtotto input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        color: #00000;
        background-color: #C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #yhtotto textarea {
        resize:none;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        overflow-y: scroll;
        color: #00000;
        background-color:#C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    } */
/*} *//************************END OF MEDIUM LARGE *******************************/

/* @media all and (max-width:1024px) and (min-width:631px){ */
    /*******************MEDIUM SMALL <1024px TABLETS ***************************/
/*
    body{
        font: 1em Georgia, serif;
        width: auto;
        height: auto;
    }
    .topnav{
        height: 16em;
        position: relative;
        top: 3.125em;
        margin: 0 auto;
        width: 100%;
    }
    .topnav img{
        position: relative;
        float: left;
        width: 25em; 
        height: 6.25em;
        margin-left: 2%;
        top: 1.5em;
    }
    .topnav ul{
        float: left;
        margin-top: 3em;
        margin-right: 2.0em;
        width: 38em;
    }
    .topnav li {
        list-style-type: none;
        float: left;
        margin: 0px 0.625em;
        width: 5.1em;
        padding: 0.5em;	
        font-size: 1.25em;
    }
    #path{
        position: relative;
        height: 3.125em;
        width: 100%;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
    }
    #path p{
        padding: 0.938em;
        margin-left:2%;
        color:white;
    }
    #path a{
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
    #bigpicture {
        position:relative;
        width:auto;
        height:21.25em;
        overflow:hidden;
        background-image: url('mustavuori.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center
    }
    #darkarea{
        position: absolute;
        height: 100%;
        width: 22.00em;
        right: 5%;
        background: linear-gradient(to bottom, hsla(0,0%,10%,0.5) 50%,hsla(0,0%,0%,0.9));	
    }
    #darkarea p{
        padding: 0.80em;
        font-size: 1.00em;
        color:white;
        margin-top: 0.50em;
    }

    article {
        width: auto;
        margin: 2.00em auto 0 auto;
        font-size: 1.10em;
        padding: 1.50em;
        color:#0B0B3B;
        text-align: center;
        line-height: 180%;
    }
    article h4{
        color: #0B263B;
    }
    #kirjanpito {
        width: 40em !important; 
    }
    footer {
        clear:both;
        overflow:hidden;
        font-size: 1.25em;
        line-height: 1.3;
        height: 100%;
        width: auto;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
        vertical-align:top;
        color:white;
    }
    footer #left{
        float:left;
        padding:0.625em;
    }
    footer #right{
        margin-top:1.25em;
    }
    #map-canvas {
        //width:auto;
        width: 23em;
        //height:auto;
        height: 16em;
        float:left;
        margin: 0.2em auto 3em 1em;
        display: block;
        //clear:left;
    }
    footer ul {
        float:left;
        width: auto;
        max-width: 23em;
        margin: 0.5em 0 4em 1em;
    }
    footer li {
        float:left;
        width: 11em;
        list-style-type: none;
        margin: 0 0 0.5em 0.2em;
    }
    #yhtotto input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        color: #00000;
        background-color: #C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #yhtotto textarea {
        resize:none;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        overflow-y: scroll;
        color: #00000;
        background-color:#C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #maestroinfopic{
        margin-left: -4%;
        height: 19em;
        width: 42em;
    }
    #mobile{
        right:8em;
    }
    #mobiletext{
        bottom:10em;
    }
    #maestroinfo {
        width: 36em;
        margin: 2em auto 0 auto;
        font-size: 1.0em;
        padding: 1.0em;
        color:#0B0B3B;
        text-align: left;
        line-height: 180%;
        list-style-position: inside;
    }
} */ /*************************END OF SMALL MEDIUM *****************************/

/* @media all and (max-width:630px){ */
    /*********************** SMALL <630px PHONES *****************************/
/*
    body{
        //overflow-x:hidden;
        font: 1em Georgia, serif;
        width: auto;
        margin: auto;
    }
    .topnav{
        height: 15.5em;
        position: relative;
        top: 1.125em;
        margin: 0 auto;
        width:100%;
    }
    .topnav img{
        width: auto;
        height: 5.25em;
        margin: 1.5em auto 0 1em;
    }
    .topnav ul{
        margin: 2em auto 0 auto;
        width: 100%;
    }
    .topnav li {
        list-style-type: none;
        float: left;
        margin: 0.20em 0.40em;
        width: 5.5em;
        padding: 0.2em;	
        font-size: 1.3em;
    }
    #path{
        position: relative;
        height: 3.125em;
        width:auto;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
    }
    #path p{
        padding: 0.90em;
        margin-left:7%;
        color:white;
    }
    #path a{
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
    #bigpicture {
        display: none;
    }
    #darkarea{
        display: none;
    }
    #darkarea p{
        display: none;
    }

    article {
        width: auto;
        margin: 1.250em auto 0 auto;
        font-size: 1.00em;
        padding: 0.000em;
        color:#0B0B3B;
        text-align: center;
        line-height: 180%;
    }
    article h2{
        padding: 1em;
    }
    article h4{
        color: #0B263B;
        padding: 2em;
        line-height: 180%;
    }
    #kirjanpito {
        width: 30em !important; 
    }
    #palkanlaskenta {
        width: 30em !important;
    }
    #map-canvas {
        width: 90%;
        height: 20em;
        float:none;
        margin: 4em auto 3em auto;
        clear:left;
    }
    footer {
        clear:both;
        overflow:hidden;
        font-size: 1.00em;
        line-height: 1.3;
        height: auto;
        width: auto;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
        padding: 0em;
        vertical-align:top;
        color:white;
    }
    footer #left{
        float:left;
        padding:0.8em;
    }
    footer #right{
        margin-top:1.25em;
    }
    footer ul {
        float:none;
        width: auto;
        margin: 5em auto 2em 2em;
        line-height:130%;
    }
    footer li {
        float:left;
        width: 11.00em;
        list-style-type: none;
        margin: 0 auto 1em 1em;
    }
    #yhtotto input {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        color: #00000;
        background-color: #C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #yhtotto textarea {
        resize:none;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 1.500em;
        overflow-y: scroll;
        color: #00000;
        background-color:#C0C0C0;
        padding: 0.125em;
        border: thin solid #00000;
    }
    #maestroinfo {
        width: 23em;
        margin: 1em auto 0 auto;
        font-size: 1.0em;
        padding: 0.2em;
        color:#0B0B3B;
        text-align: left;
        line-height: 160%;
        list-style-position: inside;
    }
    #maestroinfopic{
        height: 13em;
        width: 27em;
        margin-left: -12%;
    }
    #mobile{
        display: none;
    }
    #mobiletext{
        position: inherit;
    }
} */ /******************************END OF SMALL *******************************/
/*
aside{
    clear:both;
    height:3em;
}
#etusivu {
    background: linear-gradient(to bottom, white 90%,#3ADF00 90%);
}
#etusivu:hover{
    background: linear-gradient(to bottom, #82FA58 50%,#3ADF00);
}
#palvelut {
    background: linear-gradient(to bottom, white 90%,#DF0101 90%);
}
#palvelut:hover{
    background: linear-gradient(to bottom, #FA5858, #DF0101);
    color:white;
}
#hintalaskuri {
    background: linear-gradient(to bottom, white 90%,#FFFF00 90%);
}
#hintalaskuri:hover{
    background: linear-gradient(to bottom, #F4FA58 50%,#FFFF00);
}
#yhteystiedot {
    background: linear-gradient(to bottom, white 90%,#0040FF 90%);
}
#yhteystiedot:hover{
    background: linear-gradient(to bottom, #0000FF ,#0040FF);
    color:white;
}
#maestroinfo h3 {
    margin-top: 2em;
}
#maestroinfo li > ul{
    list-style-position: inside;
    margin-left:3%;
}
#kirjanpito {
    width: auto; //Small and medium overrides
    margin: 1.5em auto 0 auto;
    font-size: 1.0em;
    padding: 1.0em;
    color:#0B0B3B;
    //text-align: left;
    line-height: 180%;
    //list-style-position: inside;
}
#kirjanpito a:link{
    color:inherit;
}
#flash{
    margin-left: 25%;
    height: 5em;
    width: 5em;
}
.botnav a:link {
    color:white;
    background-color:transparent;
    text-decoration:none;
}
.botnav ul{

}
.botnav li {
    text-decoration: underline;
} */