
	* { margin: 0; padding: 0; }

	.topnav a:link {
		color:#000000;
		background-color:transparent;
		text-decoration:none;
	}
	body{
        font: 1em Arial, Helvetica, sans-serif;
        font-size: 1em;
        width:auto;
		height: 100vh;
		position: relative;
    }
    .topnav ul{
        float: right;
        width: auto;
    }
    .topnav li {
        list-style-type: none;
        float: left;
        margin: 0px 0.625em;
        width: 10em;
        padding: 0.5em;	
        font-size: 1.25em;
    }
    #path{
        position: relative;
        height: 3em;
        min-width: 70em;
        background: linear-gradient(to bottom, #A4A4A4 50%,#6E6E6E);
    }
    #path p{
        padding: 0.9em;
        margin-left:9%;
        color:white;
        float:left;
    }
    #path a{
        color:white;
        background-color:transparent;
        text-decoration:none;
    }
    article {
        margin: 0 auto;
        font-size: 1em;
        padding: 0 0.5em;
        color:#0B0B3B;
        text-align: left;
        clear:both;
		height: 87vh;
    }
    article h4{
        color: #0B263B;
    }
    .ok, .cancel{
        display: none;
    }
    .pen {
        width:13px;
        height: 13px;
    }
    #vaihdakuukausi input {
        font-size: 1.1em;
        padding: 0.2em;
    }
    #vaihdakuukausi input[type=checkbox] {
        margin-right: 0.8em;
        margin-left: 0.2em;
    }
    .vasemmalle{
        /* Pudotusvalikko ja laatikot vasemmalle */
        float:left;
        height: 5.8em;
    }
    .kuukausiotsikot{
        /* seurantakuukausi oikealle */
        font-size: 1.5em;
        float: right;
    }
    table.kuukausiseuranta{
        border-spacing: 0;
        width: 100%;
    }
    .container{
        /* alue johon absolute div sijoitetaan */
        position: relative;
        background-color: #500;
        padding-top: 2em;
        padding-bottom: 2em;
        clear:both;
        min-width: 90em;
		height: 88%;
    }
    .pohjainfo{
        color: white;
        padding: 0.2em 2em;
    }
	#mydiv textarea{
		resize: none;
	}
    .tablecontainer {
        /* rullaava alue */
        overflow-y: auto;
        height: 100%;
        border: 0.1em solid #500;
    }

    .seurantaheaders{
        /* Piilottaa "oikean rivin" korkeudella, mutta pitää leveyden */
        height: 0;
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        color: transparent;
        border: none;
        white-space: nowrap;
    }

    .seurantaheaders div{
        /* tämä div voi asetetaan absoluuttisesti otsikoiksi*/
        position: absolute;
        background: transparent;
        color: #fff;
        padding: 9px 25px;
        top: 0;
        margin-left: -20px;
        line-height: normal;
    }

    table.kuukausiseuranta td{
        padding: 0.2em;
        border-bottom: 0.1em solid #0B0B3B;
        border-right: 0.1em solid #0B0B3B;
    }
    table.kuukausiseuranta tr:nth-child(even){
        background-color: #F0F0F0;
    }
    table.kuukausiseuranta tr:nth-child(odd){
        background-color: #D0D0D0;
    }
    table.kuukausiseuranta p {
        float:left;
    }
    table.kuukausiseuranta button {
        float:right;
    }
    table.kuukausiseuranta a, table.kuukausiseuranta a:visited {
        color: #0B263B;
    }
    .rekisteriotsikot h4{
        font-size: 1.5em;
    }
    table.asiakasrekisteri{
        width: 100%;
        border: 0.2em solid #0B0B3B;
    }
    table.asiakasrekisteri th{
        padding: 0.2em;
        border: 0.1em solid #0B0B3B;
    }
    table.asiakasrekisteri td{
        padding: 0.2em;
        border: 0.1em solid #0B0B3B;
    }
    table.asiakasrekisteri tr:nth-child(even){
        background-color: #F0F0F0;
    }
    table.asiakasrekisteri tr:nth-child(odd){
        background-color: #D0D0D0;
    }
    table.asiakasrekisteri p {
        float:left;
    }
    table.asiakasrekisteri button {
        float:right;
    }
    table#luokuukausi{
        text-align: center;
        border: 0.2em solid #0B0B3B;
    }
    table#luokuukausi td{
        font-size: 1.5em;
        padding: 0.8em;
    }
    table#luokuukausi input[type=submit]{
        font-size: 1.1em;
        padding: 0.2em;
    }
    .GUI_form input[type=submit]{
        font-size: 1.2em;
        padding: 0.4em;
    }  
    select{
        margin: 0.3em 0 0.3em 0;
        font-size: 1.2em;
    }
    .GUI_form input{
        font-size: 1.2em;
    }
    .GUI_form p{
        font-size: 1.2em;
        padding-top: 0.4em;
    }
    .GUI_form input[type=checkbox]{
        margin: 0.5em;
    }