input[type=range]{
    -webkit-appearance: none;
    width: 200px;
}
input[type=range]::-moz-range-track {
    width: 200px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: goldenrod;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
#navakka{
    margin-left:5%; margin-right:5%;
}

.topbuttons {
    -moz-box-shadow:inset 0px 1px 0px 0px #fed897;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
    box-shadow:inset 0px 1px 0px 0px #fed897;
    background: -webkit-linear-gradient(left top, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* Standard syntax */
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:2px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Times New Roman;
    font-size:30px;
    font-weight:bold;
    font-style:normal;
    height:80px;
    line-height:30px;
    width:200px;
    text-decoration:none;
    text-align:center;
}
.topbuttons:hover {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow: 
        inset hsla(210,100%,30%,  0.5) 0  0px 0px 2px, /* border */
        inset hsla(210,100%,15%, .4) 0 -1px 5px 2px, /* soft SD */
        inset hsla(210,100%,20%,.25) 0 -1px 0px 5px, /* bottom SD */
        inset hsla(210,100%,100%,.7) 0  2px 1px 5px, /* top HL */

        hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
        hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
        hsla(210,80%,95%,   1) 0  3px 3px 3px; /* outer HL */
}
.topbuttons:active {
    position:relative;
    top:1px;
}

.smallbuttons {
    -moz-box-shadow:inset 0px 0px 2px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 0px 2px 0px #bee2f9;
    box-shadow:inset 0px 0px 2px 0px #bee2f9;
    background: -webkit-linear-gradient(left top, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* Standard syntax */
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:2px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    height:50px;
    line-height:20px;
    width:250px;
    text-decoration:none;
    text-align:center;
}
.smallbuttons:hover {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow: 
        inset hsla(210,100%,30%,  0.5) 0  0px 0px 1px, /* border */
        inset hsla(210,100%,15%, .4) 0 -1px 5px 2px, /* soft SD */
        inset hsla(210,100%,20%,.25) 0 -1px 0px 4px, /* bottom SD */
        inset hsla(210,100%,100%,.7) 0  2px 1px 4px, /* top HL */

        hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
        hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
        hsla(210,80%,95%,   1) 0  3px 3px 3px; /* outer HL */
}.smallbuttons:active {
    position:relative;
    top:1px;
}

.smallbuttonsactivated {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow: 
        inset hsla(210,100%,30%,  0.5) 0  0px 0px 1px, /* border */
        inset hsla(210,100%,15%, .4) 0 -1px 5px 2px, /* soft SD */
        inset hsla(210,100%,20%,.25) 0 -1px 0px 4px, /* bottom SD */
        inset hsla(210,100%,100%,.7) 0  2px 1px 4px, /* top HL */

        hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
        hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
        hsla(210,80%,95%,   1) 0  3px 3px 3px; /* outer HL */
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:2px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    height:50px;
    line-height:20px;
    width:250px;
    text-decoration:none;
    text-align:center;
}
.smallbuttonsactivated:hover {
    color: hsl(355, 70%, 40%);
    text-shadow: hsla(355, 100%, 20%, .3) 0 -1px 0, hsl(355, 100%, 85%) 0 2px 1px, hsla(355, 100%, 80%,1) 0 0 5px, hsla(355,100%,50%,.6) 0 0 20px;
    box-shadow: 
        inset hsla(355,100%,30%, 0.5) 0  0px 0px 1px, /* border */
        inset hsla(355,100%,15%, .4) 0 -1px 5px 2px, /* soft SD */
        inset hsla(355,100%,20%, .25) 0 -1px 0px 4px, /* bottom SD */
        inset hsla(355,100%,100%, .7) 0  2px 1px 4px, /* top HL */

        hsla(355,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
        hsla(355,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
        hsla(355,80%,95%,   1) 0  3px 3px 3px; /* outer HL */
}.smallbuttonsactivated:active {
    position:relative;
    top:1px;
}

.boxes {
    margin-top:5%;
    overflow:auto;
    height:auto;
    vertical-align:top;
    padding: 0.5em;
    -moz-box-shadow:inset 0px 0px 2px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 0px 2px 0px #bee2f9;
    box-shadow:inset 0px 0px 2px 0px #bee2f9;
    background: -webkit-linear-gradient(left top, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, hsl(0, 0%, 82%), hsl(0, 0%, 78%)); /* Standard syntax */
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:2px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:bold;
    font-style:normal;
    min-height:12em;
    line-height:30px;
    width:300px;
    text-decoration:none;
    text-align:center;
}

#box1{

}
#box2{
    margin-left:15%;
}
#box3{

}
#box4{
    margin-left:15%;
}
#box5{

}
#box6{
    margin-left:15%; 
    line-height:35px;
}
#box7{
    overflow:hidden; 
    min-height: 1em; 
    margin-left:auto; 
    margin-right:auto; 
    text-align:center; 
    width: 600px;
}
.boxes h3,h4{position: absolute; overflow:visible; margin-top: -2em;}

.smallboxes {
    background: -webkit-linear-gradient(left top, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, hsl(0, 0%, 92%), hsl(0, 0%, 78%)); /* Standard syntax */
    border:1px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    height:50px;
    line-height:20px;
    width:250px;
    text-decoration:none;
    text-align:center;
}.smallboxesactivated {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow: 
        inset hsla(210,100%,30%,  0.5) 0  0px 0px 1px, /* border */
        inset hsla(210,100%,15%, .4) 0 -1px 5px 2px, /* soft SD */
        inset hsla(210,100%,20%,.25) 0 -1px 0px 4px, /* bottom SD */
        inset hsla(210,100%,100%,.7) 0  2px 1px 4px, /* top HL */

        hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
        hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
        hsla(210,80%,95%,   1) 0  3px 3px 3px; /* outer HL */
    border:1px solid #3866a3;
    color:#14396a;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:normal;
    font-style:normal;
    height:50px;
    line-height:20px;
    width:250px;
    text-decoration:none;
    text-align:center;
}

#tarjous {
    position:relative;
    top: -120px;
}

#apunappi{
    margin: auto; color:black; background-color:hsl(0, 0%, 82%); cursor:pointer
}

article {
    width: auto;
    height:auto;
    margin: 1em auto 2em auto;
    font-size: 1.70em;
    padding: 1.000em;
    color:#0B0B3B;

    text-align: center;
    line-height: 140%;
}